body{
    background-color: #2e366c;
    color: #faebd7;
    font-family: 'Times New Roman', Times, serif;
}

a, a:active, a:focus{
    text-decoration: none;
    color: inherit;
}

ul{
    padding-inline-start: 0px;
}

.principal {
    margin: 0 5%;
}

h1 {
    font-size: 2.5rem;
    padding: 0 10%;
    border-bottom: 1px solid #faebd7;
    margin-bottom: 0;
}
h1>span {
    display: block;
    text-align: right;
}

.cabecalho--navegacao ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}
.cabecalho--navegacao li {
    display: inline;
    font-size: 1.125rem;
    margin-left: 7%;
}
.cabecalho--navegacao li:hover {
    border-bottom: 1px solid #faebd7;
}

.cabecalho--descricao {
    font-size: 1.5rem;
    display: inline;
}
.cabecalho--descricao p {
    display: inline;
}
.perfil-img {
    width: 9.375rem;
    height: 9.375rem;
    border-radius: 100%;
    margin-left: 2rem;
    margin-top: 4rem;
    text-align: right;
}

.section-titulo {
    font-size: 2rem;
    text-align: center;
    margin-top: 6rem;
}

.intituicoes {
    display: block;
}
.intituicoes--lista {
    display: block;
    margin: 0 auto;
}
.intituicoes--lista--item {
    display: inline;
    margin: 0 1.22rem;
}
.intituicoes--lista--item img {
    display: inline;
    width: 20rem;
    height: 20rem;
}   

.projetos{
    display: block;
}
.projetos--lista {
    display: block;
    width: 100%;
}
.projetos--lista--item {
    display: inline;
    text-align: center;
    list-style-type: none;
    font-size: 1.3rem;
}
.projetos--lista--item img {
    display: block;
    width: 20rem;
    height: 20rem;
    border-radius: 5px;
    margin: 0 auto;
    padding-left: 0;
}
.projetos--lista--item a:hover, .projetos--lista--item a:active {
    color: #a7a457;
}

.skills--lista--item  {
    display: inline;
    text-align: center;
}
.skills--lista--item h4 {
    font-size: 1.6rem;
}
.skills--lista--item p {
    font-size: 1.3rem;
}

.form--label, .form--input, .form--botao {
    display: block;
    font-size: 1.3rem;
    margin-left: 35%;
}
.form--input {
    margin-bottom: 1rem;
    width: 20rem;
}
#mensagem {
    height: 8rem;
}

.form--botao {
    background-color: #a7a457;
    color: #faebd7;
    border: 1px solid #faebd7;
}
.form--botao:hover {
    color: #2e366c;
    border-color: #2e366c;
}
.form--botao:active {
    color: black;
    border-color: black;
}