* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    padding: 0;
}

h2 {
    background-color: #fe7e02;
    padding: 10px 5px 10px 5px;
    color: white;
    text-align: center;
}

input {
    height: 20px;
    width: 500px;
}

button:active {
    color: white;
}

img {
    width: 100px;
}

div>p:first-child {
    display: inline;
}

.botao-amarelo {
    background-color: #ffaf43;
    display: block;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    margin: 150px auto;
}

.botao-amarelo:hover {
    background-color: #c44f00;
}

.container {
    height: 500px;
    text-align: center;
    padding-top: 150px;
}

.icone {
    height: 15px;
}


/** 
  *
  *  ESTILOS HOME 
  *
  **/

#container-de-descricao {
    background-color: #2274a5;
    color: white;
}

#container-de-descricao>ol {
    padding: 15px 0px;
    list-style-position: inside;
}


#container-para-comprar {
    background-color: #e7eb90;
}

#container-para-comprar>p {
    color: #c44f00;
    padding: 100px 0;
    font-size: 60px;
}

#container-para-comprar a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}


/**
  *
  *  ESTILOS COMPRAR 
  *
  **/

div input {
    border: none;
    border-bottom: 3px solid black;
}

div input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.container-do-search img {
    width: 20px;
    height: 20px;
}

.container-do-search img:hover {
    opacity: 0.5;
}

.container-do-search img:active {
    opacity: 1;
}

div:nth-child(2),
div:last-child {
    text-align: center;
}

table {
    width: 60%;
    text-align: center;
    margin: 0 auto;
}

td button {
    background-color: #fadf63;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    color: black;
}

td button:hover {
    background-color: #f7eaae;
}

td img {
    width: 50px;
    height: 50px;
}

.container-do-search {
    margin-top: 20px;
    height: 100px;
}


#back-button {
    background-color: white;
    width: 100px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 10px;
    color: black;
}

.div-voltar {
    text-align: center;
    margin-top: 125px;
}

.div-voltar a {
    text-decoration: none;
}

#back-button:hover {
    background-color: #635a3d;
}
#back-button>a:active {
    color: white;
}